mai-gateway/.idea
mai-gateway/.mvn
mai-gateway/target
mai-gateway/apigateway.iml

mai-webapp/webapp/.angular
mai-webapp/webapp/dist
mai-webapp/webapp/node_modules
mai-webapp/webapp/.editorconfig
mai-webapp/webapp/tsconfig.app
mai-webapp/webapp/tsconfig.spec
mai-webapp/webapp/tsconfig
mai-webapp/mai-webapp.code-workspace
